<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/chat</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username"/>
        <property name="connection.password"/>
        <property name="connection.pool_size">3</property>
        <property name="current_session_context_class">thread</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <mapping resource="User.hbm.xml"/>
        <mapping resource="UserInfo.hbm.xml"/>
        <mapping resource="IdGroup.hbm.xml"/>
        <mapping resource="ChatGroup.hbm.xml"/>
    </session-factory>
</hibernate-configuration>